extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Dylan McGee
        p Full Stack/Front End Developer
        .about-bio
          h5 About
          p  I’m an ambitious Web Developer who has spent the last 5 years learning the necessary programming languages while attending college full-time. After working with Major League Baseball, SIDEARM Sports, and a few other respected companies, I believe my skills and passion set me above other candidates. I am obsessed with continuing to learn new languages/skills in the industry to become a better developer!
          hr
          h5 Education
          p
            strong Syracuse University
            br
            p.close-text Major: Sport Analytics
            p.close-text Minor: Information Management and Technology
            p.close-text GPA: 3.5
            hr
            h5 Involvement
            p Team Treehouse Full Stack JavaScript Tech Degree Student
            p.close-text SU MLB Challenge Participant
            p.close-text Wegmans Scholarship Award Winner
            p.close-text Berlin Academy Instructor
      .skills-contact-box.box
        h6 Web Development Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li React
          li SCSS/SASS
          li Node.js
          li Express
          li Pug
          li PHP
          li Git and GitHub
          li WordPress/ LocalWP
          li OOP
          li Fetch and Public APIs
        h6 Data Analysis Skills
        ul
          li R 
          li Python 
          li MySQL
          li Machine Learning 
          li Tableau
          li PowerBI
          li EViews
          li Excel
          li Jupyter Notebook
        h6 Contact Info
        ul
          li (315) 882-6357
          li dtmcgee@syr.edu
        a.btn-link(href='https://www.linkedin.com/in/dmcgee20/', target = '_blank') LinkedIn
        a.btn-link(href='https://github.com/dtmcgee-su', target = '_blank') GitHub
        //- a.btn-link(href='') Twitter
    nav.nav
      a(href='/')
        span &larr;
        |  Back

